// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.clearfloat{
	clear: both;
}

form.button_to {
	float: left;
}

div.resource {
	float: left;
	width: 90px;
	height: 90px;
	margin: 5px;
	background: lightgreen;
}

div.army {
	float: left;
	width: 90px;
	height: 90px;
	margin: 5px;
	background: salmon;
}

div.building {
	float: left;
	width: 90px;
	height: 90px;
	margin: 5px;
	background: lightskyblue;
}
